<h1>Welcome to my Homepage</h1>
<p> Asian Online Shopping </p>

<ul>
  <li> <%= link_to("show all", root_url) %></li>


  <% @categories.each do |category| %>
      <li><%= link_to(category.name, root_url(:category => category.id)) %></li>
  <% end %>
</ul>
