/* Styles for main page */

#banner {
  background: #9c9;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", Georgia, Serif;
  color: White;
  text-align: centre;
}

#banner img {
  float: left;
}

#columns {
  background:#ff0000;
}

#main {
  margin-left: 17em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}

#side{
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 16em;
  background: #ff0000;
}

#side{
  color: #bfb;
  font-size: small;
}

body{
  background-color:#ffffff;
  margin: 0px;
}
#wrapper {
  background-color: #191970;
  padding: 0px;
  margin: auto;
}
#banner {
  background: #99cc99;
  width: 1200px;
  height: 106px;
  margin-left: 65px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", Georgia, Serif;

  text-aling: center;
}
.banner img {
  float: left;

}

#cart{
  position: absolute;

}
#login{
  position: absolute;
}


#columns {
  background: #ff0000;
}

#main {
  margin-left: 17em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}

#side{
  margin-top: 0px;
  margin-left: 137px;
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 16em;
  background: white;
}

#side{
  color: #bfb;
  font-size: small;
}