<% if line_item == @current_item %>
    <tr id="current_item">
<% else%>
    <tr>
<% end %>
<td><%= line_item.quantity %>&times;</td>
<td><%= line_item.product.name %></td>
<td class="item_price"><%= number_to_currency(@cart.total_price, :unit => '&euro;') %> %></td>
</tr>

<%= sprintf("%2d x %s", line_item.quantity, truncate(line_item.product.title, length: 50)) %>